<?xml version="1.0" encoding="UTF-8"?>
<config>

	<modules>
		<Training_Recap>
			<version>0.1.0</version>
		</Training_Recap>
	</modules>

	<frontend>
		<routers>
			<training_recap>
				<use>standard</use>
				<args>
					<module>Training_Recap</module>
					<frontName>training</frontName>
				</args>
			</training_recap>
			<customer>
				<args>
					<modules>
						<training_recap
								before="Mage_Customer">Training_Recap_Customer</training_recap>
					</modules>
				</args>
			</customer>
		</routers>
	</frontend>



</config>

