<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Training_Practice>
			<version>0.1.0</version>
		</Training_Practice>
	</modules>

	<global>
		<models>
			<catalog>
				<rewrite>
					<product>Training_Practice_Model_Catalog_Product</product>
				</rewrite>
			</catalog>
			<sales>
				<rewrite>
					<order_item>Training_Practice_Model_Sales_Order_Item</order_item>
				</rewrite>
			</sales>
			<customer>
				<rewrite>
					<customer>Training_Practice_Model_Customer_Customer</customer>
				</rewrite>
			</customer>
		</models>

		<blocks>
			<catalog>
				<rewrite>
					<product_view>Training_Practice_Block_Catalog_Product_View</product_view>
				</rewrite>
			</catalog>
			<cms>
				<rewrite>
					<block>Training_Practice_Block_Cms_Block_Block</block>
				</rewrite>
			</cms>
		</blocks>

		<helpers>
			<customer>
				<rewrite>
					<address>Training_Practice_Helper_Customer_Address</address>
				</rewrite>
			</customer>
		</helpers>







	</global>

	<default>
		<some>
			<random>
				<xpath>Testing from config.xml!</xpath>
			</random>
		</some>
		<contacts>
			<email>
				<recipient_email>somebody@example.com</recipient_email>
			</email>
		</contacts>
	</default>

	<stores>
		<french>
			<contacts>
				<email>
					<recipient_email>amelie.jeunet@example.com</recipient_email>
				</email>
			</contacts>
		</french>
	</stores>




</config>



